/* RESPONSIVE DESIGN - IMPACTO EVANGELISTICO */
/* Note: Design for a width of 768px */

@media (min-width: 1200px) {

    .logo{
        text-align: left !important;
    }

    section{

        &#news{

            #nws{

                .nwizq{
                    width: 290px;

                    padding-right: 25px;
                }

                .nwder{
                    padding-left: 25px;
                    border-left: 1px solid #CCC;
                    width: 829px;
                }
            }

            #nwm{

                .nwizq{
                    width: 745px;
                    padding-right: 25px;
                    border-right: 1px solid #C6C6C6;
                }

                .nwder{
                    padding-left: 25px;
                    width: 374px;
                    border-left: none;

                    aside{

                        .contenido{
                            width: 355px;
                            height: 435px;
                        }
                    }
                }
            }
        }
    }

    .navbar-nav{

        li{

            a{
                font-size: 16px;
            }
        }
    }
}



@media (min-width: 992px) {

    .logo{
        text-align: left !important;
    }

    section{

        &#nwm{

            .nwder{
                padding-left: 40px;
                border-left: 1px solid #C6C6C6;

                aside{

                    .contenido{
                        width: 310px;
                        height: 321px;
                    }
                }
            }

            .nwizq{
                padding-right: 40px;
            }
        }
    }

    .navbar{
        margin-top: 15px;
    }

    .navbar-nav{

        li{

            a{
                font-size: 13px;
            }
        }
    }

    .header-slider-opt{

        .header-opt{
            position: absolute;
        }
    }
}



@media (min-width: 768px) {

    .logo{
        text-align: center;
    }

    section{

        &#news{

            #nws{

                .nwizq{

                }

                .nwder{


                    section{

                        article{

                            .imagen{
                                text-align: center;
                                margin: 0px;

                                img{
                                    width: 90%;
                                }
                            }

                            .datos{
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-nav{

        li{

            a{
                font-size: 16px;
            }
        }
    }

    .header-slider-opt{

        .header-opt{
            position: relative;
        }
    }
}

